*.hexlic
*.reg
_backup
extras/

# cython
.pyxbuild/
*.pydpackages

packages/
tmp/boombox.exe.i64
sig
til
tmp/*.db
tmp/*.bin
tmp/*.i64
tmp/**/*


plugins/D810.py
plugins/d810
scripts/poisonplug-scatterbrain