*.hexlic
*.reg
_backup
extras/

# cython
.pyxbuild/
*.pydpackages

packages/
sig
til
tmp/boombox.exe.i64
tmp/*.db
tmp/*.bin
tmp/*.i64
tmp/**/*


scripts/poisonplug-scatterbrain

plugins/D810.py
plugins/d810

themes/
logs/
cfg/d810