cython==3.0.12
tornado==6.2
unicorn==2.0.1.post1
keystone-engine==0.9.2
angr==9.2.148
capstone==5.0.3
setuptools==78.1.0
flare-capa==8.0.1
debugpy==1.8.13
openai==1.70.0
groq==0.22.0
together==1.5.4
ollama==0.4.7
ipython